In [1]:
import pandas as pd

In [2]:
# Fetch data into daataframe
data_frame = pd.read_excel(r'data_final.xlsx')
data_frame.drop('Unnamed: 0', axis =1, inplace=True)

In [3]:
data_frame

,input_text,target_text
0,5.30pm Bangladesh have won the toss and will b...,"Bangladesh 122 for 8 (Naim 23, Ellis 2-16, Chr..."
1,"Toss Bangladesh win toss, will bat first - the...",Australia 105 for 7 (Christian 39) beat Bangla...
2,"The ball too. Hazlewood to Mahmudullah, 1 run ...","Bangladesh 127 for 9 (Mahmudullah 52, Ellis 3-..."
3,5.30pm Australia win the toss and bat first to...,Bangladesh 123 for 5 (Afif 37*) beat Australia...
4,"Hazlewood to Soumya, no run sways out of the w...","Bangladesh 131 for 7 (Shakib 36, Naim 30, Hazl..."
...,...,...
458,"Clarke to Mahela Jayawardene, no run pushed of...","Australia 232 for 3 (Ponting 66*, Symonds 63*)..."
459,"Tait to K O'Brien, (no ball) oh dear. Tait to ...","Australia 92 for 1 (Gilchrist 34, Hussey 30*) ..."
460,I like to call that a Test cut. England win th...,"Australia 248 for 3 (Ponting 86, Clarke 55*) b..."
461,"Good ball all the same. Watson to Vaas, (no ba...","Australia 102 for 0 (Hayden 58*, Gilchrist 31*..."
462,Brett Lee became the first bowler to take a Tw...,"Australia 124 for 1 (Hayden 73*, Gilchrist 43)..."